@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  }
  
  .dark body {
    @apply bg-slate-900 text-slate-50;
  }
}
